.home {
  position: relative;
  top: 50px;
  .home-modles {
    position: relative;
    top: 100px;
    .home-modles-block {
      height: 200px;
      padding: 20px;
      .ant-card {
        height: 100%;
        .ant-card-body {
          text-align: center;
        }
      }
    }
  }
}